.form {
  display: flex;
  flex-direction: column;
  gap: 16px;              /* 1 */
}

.full-width {
  width: 100%;            /* 1 */
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;              /* 1 */
  margin-top: 20px;       /* 2 */
}
